<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/students">Student List</a></li>
    <li><a href="/add-student">Add Student</a></li>
    <li><a href="/groups">Group List</a></li>
    <li><a href="/add-group">Add Group</a></li>
</ul>